<?xml version="1.0" encoding="UTF-8"?>
<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans   
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.1.xsd"
>

	<bean class="com.yash.injectStudentNameAndMarks.Student" name="stud">
	<property name="students">
	<map>
	<entry key="ram" value="90"></entry>
	<entry key="rama" value="80"></entry>
	<entry key="Mohan" value="86"></entry>
	<entry key="john" value="70"></entry>
	</map>
	</property>
	</bean>


</beans>